body {
  font-family: "Alegreya", serif;
  background-color: white;
  height: 100%;
}

input {
  display: block;
}

select {
  display: block;
}

fieldset {
  border: none;
}

div {
  margin: auto;
  width: 95%;
  height: 95%;
  padding: 10px;
  text-align: center;
  background-color: white;
}

#clientProfile {
  border: 5px solid pink;
}

li {
  margin: auto;
  width: 10%;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: white;
}

table {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
}

#special {
  display: inline;
  font-size: 80%;
  margin: 2px;
  border: none;
}

#error {
  display: block;
  color: red;
}

footer a {
  display: block;
  float: bottom;
}
